@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,body {
	margin:0;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

body {
	background-color: #25c4f9;
	
}

.container {
	position: absolute;
	width: 80%;
	height: 80%;
	background: #ffffff;
	-webkit-box-shadow: -2px 1px 68px 5px rgba(75,139,194,1);
	top: 10%;
	left: 10%;

}
.leftside {
	width: 50%;
	height: 100%;
	background-color: #25c4f9;
}

.rightside {
	float: right;
	width: 50%;
	transform: translateY(-600px) translateX(160px);
	margin-right: 20px;
	
}

.logo {
	text-decoration: none;
	color: white;
	font-size: 3em;
	margin-left: 20px;
	margin-bottom: 50px;
	padding: 20px 20px;
}

.leftside h1 {
	color: white;
	font-size: 4em;
	padding: 40px 30px;
	margin-bottom: 30px;
}

.getstarted {
	text-decoration: none;
	color: #25c4f9;
	background-color: white;
	padding: 15px 20px;
	margin-left: 35px;
	font-size: 1.3em;
	-webkit-transition-duration:0.3s;
}
.getstarted:hover {
	background: transparent;
	color: white;
	border: 2px solid white;
}

.rightside ul li {
	display: inline;
	
}

.rightside ul li a {
	text-decoration: none;
	color: black;
	padding: 10px 20px;
	font-size: 1.2em;
	border-radius: 10px;
	-webkit-transition-duration:0.3s;
}

.rightside ul li a:hover {
	background: #25c4f9;
	color: white;
	
}

.active {
	background: #25c4f9;
	color: white !important;
}
.monitor {
	transform: translateY(200px) translateX(-200px);
	margin-right: -130px;
	margin-top: -310px;
}
