@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.header {
  width: 100%;
  font-family: "Do Hyeon", sans-serif;
  background-color: #00476d;
  min-height: 10%;
  padding: 15px;
}

.header .logo {
  font-size: 1.8em;
  padding: 40px;
  margin-top: -30%;
  text-decoration: none;
  color: #3baae5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 10px;
}

.header nav {
  float: right;
  position: relative;
  top: 15px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
}

.header nav ul li a {
  color: #3baae5;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  padding: 20px;
}

.header nav ul li a:hover {
  border-bottom: 1px solid #3baae5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-animation: sticky 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: sticky 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes sticky {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  width: 100%;
  min-height: 70%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #00476d;
  margin: 0;
  position: relative;
}

.container h1 {
  font-size: 6em;
  text-align: center;
  color: #3baae5;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 120px;
  -webkit-animation: h1 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: h1 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes h1 {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.aboutme {
  width: 100%;
  text-align: center;
  background-color: #006ba5;
  position: relative;
  top: -20px;
}

.aboutme h1 {
  color: #fff;
  font-size: 2.4em;
  padding: 15px;
  padding-top: 130px;
  font-family: "Montserrat", sans-serif;
}

.aboutme p {
  width: 40%;
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  position: relative;
  left: 440px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 90px;
  -webkit-animation: p 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: p 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes p {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #3baae5;
}

.carousel-indicators li {
  border-color: #3baae5;
}

.carousel-indicators li.active {
  background-color: #3baae5;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.posts {
  width: 100%;
  padding: 15px;
  text-align: center;
}

.posts .secondcontainer {
  width: 100%;
  height: 20%;
  margin-bottom: 5%;
}

.posts h1 {
  position: relative;
  top: 20px;
}

.contactme {
  width: 100%;
  background-color: #3baae5;
  min-height: 40%;
  text-align: center;
}

.contactme h1 {
  color: #fff;
  padding-top: 50px;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}

.contactme h3 {
  color: grey;
}

.contactme .elements {
  text-align: center;
  position: relative;
  top: -30px;
}

.contactme .elements a {
  color: white;
  text-decoration: none;
  padding: 15px;
  padding-bottom: 20px;
  font-size: 1.8em;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.contactme .elements a:hover {
  color: #006ba5;
}

.contactme .elements h2 {
  position: relative;
  top: 30px;
  color: #fff;
}

.footermain {
  width: 100%;
  height: 30%;
  background: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.footermain img {
  width: 30px;
  height: 30px;
}

.footermain h2 {
  padding-top: 30px;
}
/*# sourceMappingURL=main.css.map */